@import "./reset.scss";

@import "./variables.scss";

%round-shaped {
  border: 2px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

body {
  font-family: $font-default;
  color: $color-main;
}
ul {
  background-color: gray;
  li {
    background-color: bisque;
    list-style: none;
    padding: 4px 10px;
    a {
      background-color: aquamarine;
      text-decoration: none;
      color: $color-sub;
      padding: 2px 5px;
    }
  }
}
.rounds {
  display: flex;
  justify-content: center;
  .round {
    @extend %round-shaped;
  }
  .round:first-child {
    background-color: #0061fd;
  }
  .round:nth-child(2) {
    background-color: #33c759;
  }
  .round:last-child {
    background-color: #ffcc01;
  }
}
